<html>
    <body style="display: flex; justify-content: center">
        <div style="flex-direction: column">
            <h1>Hello World!</h1>
            <p>Your lucky number is {{ number }}!</p>
        </div>
    </body>
</html>
